<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fivefu.core.report.mapper.TInsDatabaseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fivefu.core.report.entity.TInsDatabase">
        <id column="id" property="id" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="is_delete" property="isDelete" />
        <result column="datasource_type" property="datasourceType" />
        <result column="driver_class_name" property="driverClassName" />
        <result column="url_" property="url" />
        <result column="username_" property="username" />
        <result column="password_" property="password" />
        <result column="name_" property="name" />
        <result column="method_type" property="methodType" />
        <result column="method_header" property="methodHeader" />
        <result column="method_body" property="methodBody" />
    </resultMap>

</mapper>
